{% extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block container %}
<h2>Log in</h2>
<form method="post">
    {% csrf_token %}
  <div class="local_container">
     {{ form.as_p }}
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="local_container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">  <a href="{% url 'home' %}">Cancel</a> </button>
    <span class="psw">Don't have an account? <a href="{% url 'signup' %}">sign up</a></span>
  </div>
</form>

{% endblock %}