{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block container %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
  <div class="local_container">
     {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </div>

  <div class="local_container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">  <a href="{% url 'home' %}">Cancel</a> </button>
  </div>
</form>

{% endblock %}