.tab {
    overflow: hidden;
    margin-left: 100px;
  }
  
  .tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-left: 100px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none; 
    color: black
  }
  
  .tab a:hover {
    background-color: #ddd;
  }
  
  .tab a.active {
    background-color: #ccc;
  }