@import "base.css";
* {
    font-family: "Courier New", monospace;
    font-size: medium;
  }
  
  .contacts {
    font-family: "Courier New", monospace;
    font-size: x-large;
    font-weight: bold;
  }
  
  .name {
    font-family: "Courier New", monospace;
    font-size: large;
    margin-bottom: 0;
    margin-left: 10px;
    /* font-weight: 200; */
  }

  .email {
    display: inline-block;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 45%;
    margin-top: 40px;
    margin-left: 300px;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    margin-top: 100px;
    margin-left: 0px;
  }
  
  .tab {
    overflow: hidden;
    margin-left: 100px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-left: 200px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .go-back-btn {
    border-radius: 25px;
    background-color: #4285F4; /* Green */
    border: none;
    color: white;
    width: 150px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    font-weight: bolder;
    cursor: pointer;
  }