
* {
  font-family: "Courier New", monospace;
  font-size: medium;
}

.container {
  display: flex;
  flex-direction: row;
}


.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin-left: 50px;
}

.left-content a{
  border-radius: 25px;
  background-color: #4285F4; /* Green */
  border: none;
  color: white;
  width: 80px;
  padding: 10px 20px 10px 20px;
  margin-top: 50px;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none; 
  text-align: center;
}

.input {
  display: flex;
  flex-direction: row;
  width:550px; 
  height: 50px;
  margin-top: 50px;
}


.input-nick {
  width: 100px; 
  border-radius: 20px 0px 0px 20px;
  border:1px solid #DBDBDB;
  padding: 2px 20px 2px 20px; 
}

.input-addr {
  width: 400px; 
  border-radius: 0px 20px 20px 0px;
  border:1px solid #DBDBDB;
  padding: 2px 20px 2px 20px; 
}

.tab {
  overflow: hidden;
  margin-left: 100px;
}

.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-left: 200px;
  transition: 0.3s;
  font-size: 17px;
  text-decoration: none; 
  color: black
}

.tab a:hover {
  background-color: #ddd;
}

.tab a.active {
  background-color: #ccc;
}


.earthImg {
  float:left;
}


.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  width: 550px; 
}

.grid-item {
  flex: 1 1 calc(50%);
  margin-top: 10px;
  margin-right: 0px;
}



