@import "base.css";

* {
   font-family: "Courier New", monospace;
   font-size: large;
}

.full-container {
   display: flex;
   flex-direction: row;
}

.left-content {
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 55%;
   margin-left: 100px;
}

.part {
   display: flex;
   width: 90%;
   height: 30px;
   background: linear-gradient(to right, white, rgb(189, 214, 249), white);
   /* background-color: linear-gradient(rgb(200, 219, 245), white); */
}

.item {
   flex-direction: column;
   margin-top: 10px;
   height: 150px;
   margin-bottom: 10px;
   float: left;
   /* margin-left: 50px; */
   /* align-items: flex-start */
}

.right-content {
   float: left;
   flex-direction: row;
}

.message {
   display: table-caption;
   text-align: right;
   margin-left: 200px;
   font-size: 80px;
   color: rgb(189, 214, 249);
   font-weight: 900;
}

.earth-img {
   height: 500px;
}


/* 4.5-5 */
.rperf {
   color: #b8d38f;
}

/* 4-4.5 */
.rgood {
   color: #b8f1ed;
}

/* 3-4 */
.rok {
   color: #fecf45;
}

/* 2-3 */
.rokk {
   color: #ff9b6a;
}

/* 0-2 */
.rbad {
   /* color: #fecf45; */
   color: #f1707d;
}

.btn {
  border-radius: 5px;
  background-color: #010D82; /* Green */
  border: none;
  color: white;
  width: 150px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  font-weight: initial;
  font-size: small;
  cursor: pointer;
}

/* heart */
#heart-svg {
   cursor: pointer;
   overflow: visible;
   width: 60px;
   margin: 20px;
 }
 
 svg #heart {
   transform-origin: center;
   animation: animateHeartOut .3s linear forwards;
 }
 
 svg #main-circ {
   transform-origin: 29.5px 29.5px;
 }
 
 .checkbox {
   display: none;
 }
 
 .checkbox:checked+label svg #heart {
   transform: scale(0.2);
   fill: #E2264D;
   animation: animateHeart .3s linear forwards .25s;
 }
 
 .checkbox:checked+label svg #main-circ {
   transition: all 2s;
   animation: animateCircle .3s linear forwards;
   opacity: 1;
 }
 
 .checkbox:checked+label svg #grp1 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp1 #oval1 {
   transform: scale(0) translate(0, -30px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp1 #oval2 {
   transform: scale(0) translate(10px, -50px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp2 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp2 #oval1 {
   transform: scale(0) translate(30px, -15px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp2 #oval2 {
   transform: scale(0) translate(60px, -15px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp3 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp3 #oval1 {
   transform: scale(0) translate(30px, 0px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp3 #oval2 {
   transform: scale(0) translate(60px, 10px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp4 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp4 #oval1 {
   transform: scale(0) translate(30px, 15px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp4 #oval2 {
   transform: scale(0) translate(40px, 50px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp5 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp5 #oval1 {
   transform: scale(0) translate(-10px, 20px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp5 #oval2 {
   transform: scale(0) translate(-60px, 30px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp6 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp6 #oval1 {
   transform: scale(0) translate(-30px, 0px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp6 #oval2 {
   transform: scale(0) translate(-60px, -5px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp7 {
   opacity: 1;
   transition: .1s all .3s;
 }
 
 .checkbox:checked+label svg #grp7 #oval1 {
   transform: scale(0) translate(-30px, -15px);
   transform-origin: 0 0 0;
   transition: .5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp7 #oval2 {
   transform: scale(0) translate(-55px, -30px);
   transform-origin: 0 0 0;
   transition: 1.5s transform .3s;
 }
 
 .checkbox:checked+label svg #grp2 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 .checkbox:checked+label svg #grp3 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 .checkbox:checked+label svg #grp4 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 .checkbox:checked+label svg #grp5 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 .checkbox:checked+label svg #grp6 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 .checkbox:checked+label svg #grp7 {
   opacity: 1;
   transition: .1s opacity .3s;
 }
 
 @keyframes animateCircle {
   40% {
     transform: scale(10);
     opacity: 1;
     fill: #DD4688;
   }
   55% {
     transform: scale(11);
     opacity: 1;
     fill: #D46ABF;
   }
   65% {
     transform: scale(12);
     opacity: 1;
     fill: #CC8EF5;
   }
   75% {
     transform: scale(13);
     opacity: 1;
     fill: transparent;
     stroke: #CC8EF5;
     stroke-width: .5;
   }
   85% {
     transform: scale(17);
     opacity: 1;
     fill: transparent;
     stroke: #CC8EF5;
     stroke-width: .2;
   }
   95% {
     transform: scale(18);
     opacity: 1;
     fill: transparent;
     stroke: #CC8EF5;
     stroke-width: .1;
   }
   100% {
     transform: scale(19);
     opacity: 1;
     fill: transparent;
     stroke: #CC8EF5;
     stroke-width: 0;
   }
 }
 
 @keyframes animateHeart {
   0% {
     transform: scale(0.2);
   }
   40% {
     transform: scale(1.2);
   }
   100% {
     transform: scale(1);
   }
 }
 
 @keyframes animateHeartOut {
   0% {
     transform: scale(1.4);
   }
   100% {
     transform: scale(1);
   }
 }

 /* snack */

 #snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 17px;
 }
 
 #snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 @-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;} 
   to {bottom: 30px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;} 
   to {bottom: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
 }