{% extends "base.html" %}


{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}

{% block container %}
<div class="container">
<div class="left-content">
    <p class="ooops">Ooops... </h1>
    <p class="wrong">Something went wrong </p>
    <p class="sorry">Sorry. We are working on this... </p>

    <button class="go-back-btn" onclick="window.location.href = '{% url 'home' %}'">Go Back </button>
</div>

<div class="right-content">
    <img src="{% static 'img/error_link.jpg' %}" style="height: 420px; width: 560px;">
</div>
</div>
{% endblock %}