<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Google Maps JavaScript library -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDlgbzrdKouAchIHAfHog63OYtqkf0RPoc"></script>

{% extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block container %}

<form class="container", method="post", action="{% url 'rating' %}">
    {% csrf_token %}
    <div class="left-content">
        <div class="input">
            <input class="input-nick" id="start_name" type="text" name="start_name" value="" placeholder="Nick Name" />
            <input class="input-addr" id="start_addr" type="text" name="start_addr" value="" placeholder="3869 Miramar St, La Jolla, CA" />
        </div>

        <div class="input">
            <input class="input-nick" id="target_name" type="text" name="target_name" value="" placeholder="Nick Name" />
            <input class="input-addr" id="target_addr" type="text" name="target_addr" value="" placeholder="9500 Gilman Dr, La Jolla, CA" />
        </div>
        <div class="grid">
            <div class="grid-item">
                <p>&#128663; Commute </p>
                <input type="range" id="commute_weight" name = "commute_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#127869; Restaurant </p>
                <input type="range" id="restaurant_weight" name="restaurant_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#128722; Grocery </p>
                <input type="range" id="grocery_weight" name="grocery_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#127976; Medical </p>
                <input type="range" id="medical_weight" name="medical_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>   
            
        </div>
        <br>
        <br>
        <div>
            <p align="left">Transportation Modes:</p>
        </div>
        <div class="grid">
            <div class="grid-item">
                <label class="check-container">Driving
                    <input type="checkbox" value = "Driving" id = "driving" name = "trans-modes">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="grid-item">
                <label class="check-container">Walking
                    <input type="checkbox" value = "Walking" id = "walking" name = "trans-modes">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="grid-item">
                <label class="check-container">Bicycling
                    <input type="checkbox" value = "Bicycling" id = "bicycling" name = "trans-modes">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="grid-item">
                <label class="check-container">Transiting
                    <input type="checkbox" value = "Transiting" id = "transiting" name = "trans-modes">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>

        <br>
        <br>
        <input type="submit" value="Go &#9654" class="form-submit-button">
        
    </div>
    
    <div class="earthImg">
        {% load static %}
        <img src="{% static 'img/earth.png' %}"  style="height: 450px; width: 500px;">
    </div>

</form>

<script>
var start_addr = 'start_addr';
var target_addr = 'target_addr';
 
$(document).ready(function () {
 var start;
 var target;

 start = new google.maps.places.Autocomplete((document.getElementById(start_addr)), {
  types: ['establishment', 'geocode'],
  componentRestrictions: {
   country: "USA"
  }
 });

 target = new google.maps.places.Autocomplete((document.getElementById(target_addr)), {
  types: ['establishment', 'geocode'],
  componentRestrictions: {
   country: "USA"
  }
 });
  
 google.maps.event.addListener(start, 'place_changed', function () {
  var near_place = start.getPlace();
 });

 google.maps.event.addListener(target, 'place_changed', function () {
    var near_place = target.getPlace();
    });
});
</script>

{% endblock %}

