{% extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block container %}

<form class="container", method="post", action="{% url 'scores' %}">
    {% csrf_token %}
    <div class="left-content">
        <div class="input">
            <input class="input-nick" id="start_name" type="text" name="start_name" value="" placeholder="Nick Name" />
            <input class="input-addr" id="start_addr" type="text" name="start_addr" value="" placeholder="Start Address" />
        </div>

        <div class="input">
            <input class="input-nick" id="target_name" type="text" name="target_name" value="" placeholder="Nick Name" />
            <input class="input-addr" id="target_addr" type="text" name="target_addr" value="" placeholder="Target Address" />
        </div>
        <div class="grid">
            <div class="grid-item">
                <p>&#128663; Commute </p>
                <input type="range" id="commute_weight" name = "commute_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#127869; Restaurant </p>
                <input type="range" id="restaurant_weight" name="restaurant_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#128722; Grocery </p>
                <input type="range" id="grocery_weight" name="grocery_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>

            <div class="grid-item">
                <p>&#127976; Medical </p>
                <input type="range" id="medical_weight" name="medical_weight" min="0" max="100" step="20" onchange="b.value=this.value" style="width: 225px;"/>
            </div>   
            
        </div>
        <br>
        <br>
        <input type="submit" value="Go &#9654" class="form-submit-button">
        
    </div>
    
    <div class="earthImg">
        {% load static %}
        <img src="{% static 'img/earth.png' %}"  style="height: 450px; width: 500px;">
    </div>

</form>

{% endblock %}

