<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Google Maps JavaScript library -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDlgbzrdKouAchIHAfHog63OYtqkf0RPoc"></script>


{% extends "base.html" %}

<!-- CSS & js -->
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/scores/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/scores/overall.css' %}">
    <link rel="stylesheet" href="{% static 'css/scores/each.css' %}">
    <link rel="stylesheet" href="{% static 'js/colors.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block container %}


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Title -->
    <title>Scores</title>
    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>

   <!-- Results -->
   <section id="results">
      <div class="row">
        <div class="ten columns header-col">
         <h1 class="title">Results for </h1> <em class="address">ADDRESS (NICKNAME)</em>
        </div>
      </div>
    </section>


    <!-- Overall score -->
    <section id="overall">
      <div class="row">
        <div class="ten columns header-col">
         <h1 class="criterion">Overall score: </h1> <em class="score">3.1</em>
         <span class="fa fa-star r3"></span>
         <span class="fa fa-star r3"></span>
         <span class="fa fa-star r3"></span>
         <span class="fa fa-star"></span>
         <span class="fa fa-star"></span>
         <h2 class="explanation">(Optional) briefly show how score was calculated</h2> 
        </div>
      </div>
    </section>


    <!-- Commute -->
    <section id="commute">
       <div class="row commute">
          <div class="ten columns header-col">
             <h1 id="criterion">Commute score: <em id="score">1.9</em></h1> 
             <span class="fa fa-star r1"></span>
             <span class="fa fa-star r1"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <h2 id="explanation">You have chosen <em id="emphasis"> WALK </em></h2> 
          </div>

       </div>
   </section>

   <!-- Restaurant -->
   <section id="restaurant">
      <div class="row restaurant">

         <div class="ten columns header-col">
            <h1 id="criterion">Restaurant score: <em id="score">{{restaurant_info}}</em></h1> 
            <span class="fa fa-star r4"></span>
            <span class="fa fa-star r4"></span>
            <span class="fa fa-star r4"></span>
            <span class="fa fa-star r4"></span>
            <span class="fa fa-star"></span>
            <h2 id="explanation"><em id="emphasis"> 5 </em>restaurants nearby</h2> 
         </div>

      </div>
  </section>


     <!-- Grocery -->
     <section id="grocery">
      <div class="row grocery">

         <div class="ten columns header-col">
            <h1 id="criterion">Grocery score: <em id="score">{{grocery_info}}</em></h1> 
            <span class="fa fa-star r4d5"></span>
            <span class="fa fa-star r4d5"></span>
            <span class="fa fa-star r4d5"></span>
            <span class="fa fa-star r4d5"></span>
            <span class="fa fa-star r4d5"></span>
            <h2 id="explanation"><em id="emphasis"> Trader Joe's </em><em id="emphasis"> 1mi </em> away</h2> 
         </div>

      </div>
  </section>



     <!-- Medical -->
     <section id="medical">
      <div class="row medical">

         <div class="ten columns header-col">
            <h1 id="criterion">Medical score: <em id="score">{{hospital_info}}</em></h1> 
            <span class="fa fa-star r3"></span>
            <span class="fa fa-star r3"></span>
            <span class="fa fa-star r3"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <h2 id="explanation">Nearest hostpital<em id="emphasis"> 10mi </em> away</h2> 
         </div>

      </div>
  </section>


  {% endblock %}


{% comment %} <h1>Info</h1>
<div class = 'info'>
    <table>
        <tr>
            <th>number</th>
            <th>rate</th>
        </tr>
        <tr>
            <td>{{restaurant_info}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>est_time</th>
            <th>distance</th>
        </tr>
        <tr>
            <td>{{commuting_info}}</td>
        </tr>
    </table>

</div> {% endcomment %}
