
{% extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}



{% block container %}
<div class="container">
    <div class="left-content">
        <p class="main-title">
            Find out how good your home's location is.</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <p class="body">
                Searching for a new place to live?
                Location would be a crucial factor.
                Everyone has different standards of what a good location is &#8212;
                you may want somewhere that is easy to drive from to your everyday work,
                or you may want somewhere that is walkable, bikable, or has access to public transportation.
                Perhaps you don't care much about commute,
                and you perfer a place that has better access to resturants or groceries.
                Our website helps you get <b class="body-emph">personalized scores</b> of your potential new home 
                based on your location preferences.
            </p>
            {% comment %} <button class="go-back-btn" onclick="window.location.href = '{% url 'home' %}'"> Get Started </button>
            <p class="watch-demo"> Watch Demo</p> {% endcomment %}
            
            
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="container">
            <p class="list-title">Instructions</p>
        </div>

        <div>
            <ol>
                <li>Enter your new home (start address) and your daily commute (target address)</li>
                <li>Use the bars to adjust how much importance you want to give to each factor (commute, restaurant, grocery, medical)</li>
                <li>Select the method of commute</li>
                <li>Click "Go" to view your scores!</li>
            </ol>
            <button class="go-back-btn" onclick="window.location.href = '{% url 'home' %}'">Go Back </button>
        </div>
    </div>


    

    <div class="" style="width:660px;height: 440px;margin: 50px;">

        <p class="video-title">Watch a tutorial video!</p>
        <div id="cool-play" class="cool-play">
            <div class="cool-title">
                <span>How this website help your rental decision</span>
            </div>

            <div class="cool-video">
                <video id="video" class="video">
                    <!-- TODO: replace the source path with the tutorial video-->
                    {% load static %}
                    <source src="{% static 'img/tutorial_video.mov' %}" type="video/mp4" ></source>
                </video>
                <span class="icon-c-loading"></span>
            </div>
            
            <div id="c-box" class="cool-module">
                <div class="">
                    <a id="c-progress" class="cool-progress">
                        <span id="c-played" class="cool-played"></span>
                        <span type="range" id="c-drag" class="cool-drag"></span>
                    </a>						
                </div>
                <div class="cool-btn">
                    <div class="cool-btn-left btn">
                        <a id="c-previous" class="icon-c-previous"></a>
                        <a id="c-play" class="icon-c-play" onclick="playPause()"></a>
                        <a id="c-next" class="icon-c-next"> </a>
                    </div>
                    <div class="cool-btn-center">
                        <span id="c-currentTime">00:00:00</span>
                        <span>/</span>
                        <span id="c-totalTime">00:00:00</span>
                    </div>
                    <div class="cool-btn-right btn">
                        <a class="icon-c-refresh"></a>
                        <a class="voice">
                            <span class="i-voice icon-c-voice"></span>
                            <span class="c-voice">
                                <span class="c-voice-triangle"></span>
                                <span class="voice-bar">
                                    <span class="voice-bared">
                                        <span class="voice-dot"></span>
                                    </span>
                                </span>
                                <span class="voice-mask"></span>									
                            </span>
                        </a>
                        <a id="cool-fullScreen" class="icon-c-enlarge"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>	

    {% load static %}
    <script src="{% static 'js/tutorial.js' %}" type="text/javascript" async defer></script>
</div>

{% endblock %}


