
{% extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/tutorial.css' %}">
{% endblock %}



{% block container %}
<div class="container">
    <div class="left-content">
        <p class="main-title">Check how good your home's location is.</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <p class="body">Our website helps you to do blah blah blah blah blah blah blah blah.... </p>
            {% comment %} <button class="go-back-btn" onclick="window.location.href = '{% url 'home' %}'"> Get Started </button>
            <p class="watch-demo"> Watch Demo</p> {% endcomment %}
            
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="container">
            <p class="list-element">Here are the steps to use it.</p>
        </div>

        <br/>
        <br/>

        <div class="list-container">
            <ol>
                <li class="list-element">Coffee</li>
                <li class="list-element">Tea</li>
                <li class="list-element">Milk</li>
            </ol>
        </div>
    </div>

    <div class="" style="width:660px;height: 440px;margin: 50px;">
        <div id="cool-play" class="cool-play">
            <div class="cool-title">
                <span>How this website help your rental decision</span>
            </div>

            <div class="cool-video">
                <video id="video" class="video">
                    <!-- TODO: replace the source path with the tutorial video-->
                    {% load static %}
                    <source src="{% static 'img/tutorial_video.mov' %}" type="video/mp4" ></source>
                </video>
                <span class="icon-c-loading"></span>
            </div>
            
            <div id="c-box" class="cool-module">
                <div class="">
                    <a id="c-progress" class="cool-progress">
                        <span id="c-played" class="cool-played"></span>
                        <span type="range" id="c-drag" class="cool-drag"></span>
                    </a>						
                </div>
                <div class="cool-btn">
                    <div class="cool-btn-left btn">
                        <a id="c-previous" class="icon-c-previous"></a>
                        <a id="c-play" class="icon-c-play" onclick="playPause()"></a>
                        <a id="c-next" class="icon-c-next"> </a>
                    </div>
                    <div class="cool-btn-center">
                        <span id="c-currentTime">00:00:00</span>
                        <span>/</span>
                        <span id="c-totalTime">00:00:00</span>
                    </div>
                    <div class="cool-btn-right btn">
                        <a class="icon-c-refresh"></a>
                        <a class="voice">
                            <span class="i-voice icon-c-voice"></span>
                            <span class="c-voice">
                                <span class="c-voice-triangle"></span>
                                <span class="voice-bar">
                                    <span class="voice-bared">
                                        <span class="voice-dot"></span>
                                    </span>
                                </span>
                                <span class="voice-mask"></span>									
                            </span>
                        </a>
                        <a id="cool-fullScreen" class="icon-c-enlarge"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>	

    {% load static %}
    <script src="{% static 'js/tutorial.js' %}" type="text/javascript" async defer></script>
</div>

{% endblock %}


